:root {
    --rteWidth:min(80vw,1000px);
}

h1 {
    font-size:50px;
}

body { 
    user-select:none;  
    counter-reset: myCounter;  
}

.blogpost {
    padding:30px;
    width:var(--rteWidth);    
    font-family:'Playfair Display',serif;
    font-size:20px;
}

.body-wrap {
    margin-top:80px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;  
}

.bullets {        
    margin: 15px 60px;       
    position: relative;
}

.bullets::before {
    content: '•';
    margin-right: 30px;
    position: absolute;
    left: -30px;
}

.code {
    font-family:'Ubuntu Mono',monospace;
    background:rgba(0,0,0,0.1);
    margin: 0 30px;
    padding: 2px 15px;    
    font-size:20px;    
}

.emoji-box {
    position: absolute;
    top:90%;
    left:calc(var(--rteWidth)/3);
    z-index:10;
    background:white;
    width:calc(var(--rteWidth)/3);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    border: 2px solid black;
    border-radius:10px;
    padding:15px;
    font-size:30px; 
    z-index:10;
}

.emoji-box * {
    margin:5px;
}

.icon {
    width:20px;
    margin:14px;
    cursor:pointer;
    transform:scale(1);
    transition:transform;
}

.icon:hover {
    transform:scale(1.2);
}

.input-box {
    width:450px;
    height: 40px;    
    display:flex;
    align-items:center;
    justify-content:center;
    grid-template-columns: 50px auto 50px;
    margin:7px 0; 
}

.input-box button {
    all:unset;
    height: 100%;
    margin:0px 3px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:50px;
    background:hsl(141, 53%, 53%);
    color:white;
    cursor:pointer;
    text-transform:uppercase;    
    font-family:'Oswald',sans-serif;    
}

.input-box .cancel {
    background:hsl(0, 60%, 50%);
}

.input-box input {
    height:100%;
    font-size:17px;    
}

.notification {        
    height: 30px;
    font-weight: 700;
    color:red;
}

.numbered {        
    margin: 15px 60px;
    position: relative;
}

.numbered::before {
    counter-increment: myCounter;
    content: counter(myCounter);    
    position: absolute;
    left: -30px;
}

.rte-wrap {
    padding:30px;
    width:var(--rteWidth);    
    font-family:'Playfair Display',serif;
    font-size:20px;
    overflow-y:scroll;
    height:60vh;
    /*
    border-radius:15px;
    border: 2px solid gray;
    */
}

.select {
  text-transform:uppercase;    
  margin: 0px 14px;
  padding: 3px 5px;
  font-family:'Ubuntu Mono',monospace;
  cursor:pointer;
  font-size:15px;
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:start;
  width:120px;
}

.select div {
    padding: 4px 8px;
}

.selectHeading {
    width: 100%;
    border: 1px solid black;
    background: lightgray;
}

.selectOption {
    width: 100%;
    border: 1px dotted gray;  
    background:white;  
}

.selected {
    background: lightgray;
}

.selectOption:hover {
    background: lightgray;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
}

.sliderRight {
    background: #2196F3;
}

.sliderCircle {
    background: #FFFFFF;  
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    bottom: 4px;
    left: 4px;        
    border-radius: 50%;
    transition: transform 0.4s;
}

.sliderCircleRight {    
    transform: translateX(26px);
}

.switch {
    position:relative;
    display:inline-block;
    height:35px;
    width:60px;
}

.toolbar {
    position:relative;
    width:var(--rteWidth);   
    display:flex;
    align-items:center;    
    justify-content:center;
    flex-wrap:wrap;   
    margin-bottom:5px;    
}

.toolbar-top {
    position:absolute;
    top:30px;
    left:0px;
    width:99%;    
    display:flex;
    align-items:start;
    justify-content:center;
    z-index:100;
}

.toolbar-inactive {
    position:relative;
    width:var(--rteWidth);   
    display:flex;
    align-items:start;    
    justify-content:start;
    flex-wrap:wrap;   
    margin-bottom:5px;     
}

.source {
    margin-top:15px;
    font-family:'Ubuntu Mono', monospace;
    text-transform:uppercase;
}