:root {
    --rteWidth:min(80vw,1000px);
}

.Blogpost {    
    padding:30px;
    width:var(--rteWidth);    
    word-break:break-word;
    font-family:'Playfair Display',serif;
    font-size:20px;    
    overflow-y: auto;
}

body {    
    user-select:none;                     
}

.Code {
    font-family:'Ubuntu Mono',monospace;
    background:rgba(0,0,0,0.1);
    margin: 0 30px;
    padding: 2px 15px;    
    font-size:20px;
}


.Icon {
    width:max(20px,1vw);
    margin:max(14px,0.7vw);
    cursor:pointer;
    transform:scale(1);
    transition:transform;
}

.Icon:hover {
    transform:scale(1.2);
}

.IconCredits {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
}


.InputBox {    
    width:calc(0.6*var(--rteWidth));
    height: 40px;
    display:grid;
    align-items:center;
    justify-content:center;
    grid-template-columns: 8fr 2fr;
    margin:7px 0;    
}

.InputBox button {
    all:unset;
    height: 100%;
    margin-left:5px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:50px;
    background:hsl(141, 53%, 53%);
    color:white;
    cursor:pointer;
    text-transform:uppercase;    
    font-family:'Oswald',sans-serif;    
}

.InputBox input {
    height:100%;
    font-size:17px;    
}


.RTE {            
    border: 2px solid gray;
    padding:30px;
    border-radius:15px;
    height:60vh;
    width:var(--rteWidth);    
    word-break:break-word;
    font-family:'Playfair Display',serif;
    font-size:20px;    
}

select {
    text-transform:uppercase;    
    margin: 0 5px;
    padding: 3px 5px;
    font-family:'Ubuntu Mono',monospace;
    cursor:pointer;
    font-size:15px;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  box-shadow: 0 0 1px #2196F3;
  border-radius: 50%;
}

.slider.checked {
  background-color: #2196F3;
}

.slider.checked:before {
  transform: translateX(26px);
}


.Source {
    margin-top:15px;
    font-family:'Ubuntu Mono', monospace;
    text-transform:uppercase;
}


.Toolbar {        
    width:var(--rteWidth);   
    display:flex;
    align-items:center;
    align-content:space-between;
    justify-content:center;
    flex-wrap:wrap;   
    margin-bottom:5px; 
}


.Wrap {
    margin-top:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;                  
}